<div class="row">
  <div class="col-12">
    <!--    Inicio Datas-->
    <div class="row py-3">
      <div class="col-6">
        <span class="ui-float-label">
          <p-calendar id="dataIni" dataType="string" [(ngModel)]="dataIni" dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
          <label for="dataIni">Data Início</label>
        </span>
      </div>
      <div class="col-6">
        <span class="ui-float-label">
          <p-calendar id="dataFim" dataType="string" [(ngModel)]="dataFim" dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
          <label for="dataFim">Data Final</label>
        </span>
      </div>
    </div>
    <!--    Fim Datas-->
    <!--    Início Status-->
    <div class="row py-3">
      <div class="col-12">
        <span class="ui-float-label">
          <p-dropdown id="status" [options]="listaStatus" [(ngModel)]="status"
                      placeholder="Selecione o Status do Pedido" [showClear]="true"></p-dropdown>
        </span>
      </div>
      <!--    Fim Status-->
    </div>
    <div class="row m-3 text-right">
      <div class="col-12">
        <button class="btn btn-secondary" (click)="relatorioPedidos()">Botão Mágico</button>
      </div>
    </div>
  </div>
</div>

<!--INÍCIO DIALOG RELATORIO DE PEDIDOS-->
<div header="Lista de Pedidos">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <!--    Inicio lista marmitas e quantidades-->
        <div class="col-8">
          <p-table [value]="totalMarmitaPeso">
            <ng-template pTemplate="header">
              <tr>
                <th *ngFor="let col of colPeso">
                  {{col.header}}
                </th>
              </tr>
            </ng-template>
            <ng-template let-rowData pTemplate="body">
              <tr>
                <td *ngFor="let col of colPeso">
                  {{rowData[col.field]}}
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        <!--    Final lista marmitas e quantidades-->
        <!--        Inicio Total de todas as marmitas-->
        <div class="col-4">
          <p>{{totalPedido}}</p>
        </div>
        <!--        Inicio Total de todas as marmitas-->
      </div>
    </div>
    <div class="row">
      <div class="col-12 py-2">
        <p-table [value]="listaPedidos">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th>
                Data do Pedido
              </th>
              <th>
                Cliente
              </th>
              <th>
                Quantidade
              </th>
              <th>
                Peso
              </th>
              <th>
                Total
              </th>
              <th>
                Status
              </th>

              <th class="text-center">Ações</th>
            </tr>
          </ng-template>
          <ng-template let-columns="columns" let-rowData pTemplate="body">
            <tr>
              <td>
                {{rowData.dataPedido}}
              </td>
              <td>
                {{rowData.nome}}
              </td>
              <td>
                {{rowData.quantidade}}
              </td>
              <td>
                {{rowData.peso}}
              </td>
              <td>
                {{rowData.total}}
              </td>
              <td>
                {{rowData.status}}
              </td>
              <td class="text-center">
                <button class="btn btn-success" (click)="entregar(rowData.idPedido)">Entregar</button>
                <button class="btn btn-success" (click)="receber(rowData.idPedido)">Receber</button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
