<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div>
        <div class="row">
          <div class="col-12">
            <span class="ui-float-label my-2">
                  <input [(ngModel)]="objeto.ingrediente"
                         id="ingrediente"
                         pInputText
                         size="30"
                         #ingrediente="ngModel" required
                         minlength="3"
                         type="text">
                  <label for="ingrediente">ingrediente</label>
              </span>
            <div *ngIf="ingrediente.invalid && (ingrediente.dirty || ingrediente.touched)" class="alert alert-danger">
              <div *ngIf="ingrediente.errors.required">
                Nome do ingrediente é obrigatório.
              </div>
              <div *ngIf="ingrediente.errors.minlength">
                Campo exige no mínimo 3 caracteres.
              </div>
            </div>
          </div>
          <div class="col-12">
              <span class="ui-float-label my-2">
                  <p-checkbox [(ngModel)]="checked" binary="true" title="Status" label="Inativo">
                  </p-checkbox>
              </span>
          </div>
        </div>
        <div class="text-right m-2">
          <button (click)="salvar()"
                  class="ui-button-raised"
                  [disabled]="ingrediente.invalid"
                  label="Salvar"
                  pButton
                  type="button"></button>
        </div>
      </div>
    </div>
  </div>
</div>


