<div class="container">
  <div class="row">
    <div class="col-12">
      <div header="Lista de Pedidos">
<!--        <div class="text-right m-2">-->
<!--          <button [routerLink]="['form']"-->
<!--                  class="ui-button-raised"-->
<!--                  label="Novo"-->
<!--                  pButton-->
<!--                  type="button"></button>-->
<!--        </div>-->
        <p-table (onLazyLoad)="carregaLista()"
                 [lazy]="true"
                 [loading]="loading"
                 [value]="lista" [paginator]="true" [rows]="9">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th>
                Vendedor
              </th>
              <th>
                Data do Pedido
              </th>
              <th>
                Tamanho da Marmita
              </th>
              <th>
                Quantidade
              </th>
              <th>
                Status
              </th>
              </tr>
          </ng-template>
          <ng-template let-columns="columns" let-rowData pTemplate="body">
            <tr>
              <td>
                {{rowData?.vendedor.nome}}
              </td>
              <td>
                {{rowData?.dataPedido}}
              </td>
              <td>
                {{rowData?.tamanhoMarmita.pesoMarmita}}
              </td>
              <td>
                {{rowData?.quantidade}}
              </td>
              <td>
                {{mudaStatus(rowData.status)}}
                <button *ngIf="rowData.dataPedido > this.dia || rowData.dataPedido == this.dia && this.dia.getHours() <= 10 "
                  [queryParams]="{id: rowData['id']}"
                        [routerLink]="['form']"
                        class="pi pi-pencil"
                        title="Editar"></button>
                <button *ngIf="rowData.status != 0 && rowData.dataPedido == dia && dia.getHours() < 10"
                  (click)="cancelarPedido(rowData['id'])"
                        class="mr-0 ml-2 pi pi-trash"
                        title="cancelar">  </button>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>Sem Registros.</tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
