<div class="container">
  <div class="row">
    <div class="col-12">
      <div header="Lista de Pedidos">
        <div class="text-right m-2">
          <button [routerLink]="['form']"
                  class="ui-button-raised"
                  label="Novo"
                  pButton
                  type="button"></button>
        </div>
        <p-table (onLazyLoad)="carregaLista()"
                 [lazy]="true"
                 [loading]="loading"
                 [value]="lista">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th>
                Cliente
              </th>
              <th>
                Vendedor
              </th>
              <th>
                Data do Pedido
              </th>
              <th>
                Tamanho da Marmita
              </th>
              <th>
                Quantidade
              </th>
              <th>
                Status
              </th>

              <th class="text-center">Ações</th>
            </tr>
          </ng-template>
          <ng-template let-columns="columns" let-rowData pTemplate="body">
            <tr>
              <td>
                {{rowData.cliente.nome}}
              </td>
              <td>
                {{rowData.vendedor.nome}}
              </td>
              <td>
                {{rowData.dataPedido}}
              </td>
              <td>
                {{rowData.tamanhoMarmita.pesoMarmita}}
              </td>
              <td>
                {{rowData.quantidade}}
              </td>
              <td>
                {{mudaStatus(rowData.status)}}
              </td>
              <td class="text-center">
                <i [queryParams]="{id: rowData['id']}"
                   [routerLink]="['form']"
                   class="pi pi-pencil"
                   title="Editar"></i>
                <i (click)="cancela(rowData.status)"
                   class="pi pi-trash"
                   title="cancelar">  </i>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>Sem Registros.</tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>

