<div class="corpo">
  <!--  INÍCIO TOPO-->
  <div class="topo">
    <div class="row">
      <div class="col-4">
        <div class="menubar b-gradient">
          <i pTooltip="Menu" class="fas fa-bars" (click)="abrirFecharMenu()"></i>
        </div>
      </div>
      <div class="col-4">
        <div class="text-center">
          <a routerLink=""><img src="https://i.ibb.co/vXGvDZ7/logoeasyfoods.png" alt="logoeasyfoods" class="logoPrincipal"></a>
        </div>
      </div>
      <div class="col-4">
        <div class="pr-2 text-right" >
          <a class="logInOut" routerLink="login" *ngIf="!this.isLogado" >Login <i class="fas fa-sign-in-alt"></i></a>
          <a class="logInOut" routerLink="logout" *ngIf="this.isLogado" >Logout <i class="fas fa-sign-out-alt"></i></a>
        </div>
      </div>
    </div>
  </div>
  <!--  FIM TOPO-->
  <!--  INÍCIO CORPO PRINCIPAL-->
  <div class="divPrincipal">
    <p-sidebar styleClass="b-gradient" [showCloseIcon]="false" class="sidebarMenu" [(visible)]="displaySidebar">
      <p-menu styleClass="b-gradient" [model]="menuList"></p-menu>
    </p-sidebar>
    <div class="container conteudo mt-3">
      <p-toast></p-toast>
      <router-outlet></router-outlet>
    </div>
  </div>
  <!--  FIM CORPO PRINCIPAL-->
  <!--  INÍCIO RODAPÉ-->
  <div class="rodape">

  </div>
  <!--  FIM RODAPÉ-->
</div>
