<div class="container">
  <div class="row">
    <div class="col-6 pl">
      <div header="Dados do Pedido">
        <div class="row">
          <div class="col-12">

            <span class="ui-float-label my-3">

                <p-dropdown [options]="" [(ngModel)]="selectedCity1"></p-dropdown>
              </span>
              <span class="ui-float-label my-4">

                <p-dropdown id="tamanhoMarmita"
                            autoDisplayFirst
                            [options]="tamanhoMarmitaList"
                            [(ngModel)]="objeto.tamanhoMarmita"
                            optionLabel="pesoMarmita">

                </p-dropdown>
                <label for="tamanhoMarmita">Tamanho da Marmita</label>
              </span>
              <span class="ui-float-label my-3">
                <input [(ngModel)]="objeto.quantidade"
                       type="number"
                       id="quantidade"
                       pInputText size="30">
                <label for="quantidade">Quantidade</label>
              </span>
          </div>
        </div>
        <div class="text-right m-2">
          <button (click)="salvar()"
                  class="ui-button-raised"
                  label="Salvar"
                  pButton
                  type="button">
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


