<div class="container">
  <div class="row">
    <div class="col-6 pl">
      <div>
        <div class="row">
          <div class="col-12">
            <label class="col-6 text-center d-inline">Pedido Para {{objeto?.cardapio?.cardapio}}, {{objeto?.dataPedido | date:'dd/MM/yy'}}</label>
            <span class="ui-float-label my-4">
                <p-dropdown id="tamanhoMarmita"
                            autoDisplayFirst
                            [options]="tamanhoMarmitaList"
                            [(ngModel)]="objeto.tamanhoMarmita"
                            optionLabel="pesoMarmita">
                </p-dropdown>
                <label for="tamanhoMarmita">Tamanho da Marmita</label>
              </span>
              <span class="ui-float-label my-4">
                <input [(ngModel)]="objeto.quantidade"
                       type="number"
                       id="quantidade"
                       pInputText size="30">
                <label for="quantidade">Quantidade</label>
              </span>
          </div>
        </div>
        <div class="text-right m-2">
          <button (click)="salvar()"
                  class="ui-button-raised"
                  label="Salvar"
                  pButton
                  type="button">
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
