<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="col-12">
        <div *ngIf="deHoje" class="doDia">
          <h4 class="h4Dia">Cardápio do Dia!</h4>
          <div class="row">
            <div class="col-3">
              <span class="comidasDoDia" *ngFor="let item of deHoje.comidaCardapioList"> - {{item.comida.comida}}</span>
            </div>
          </div>
<!--          <ul class="listaCardapioDia">-->
<!--            <li ></li>-->
<!--          </ul>-->
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p-carousel [value]="lista" [numVisible]="4"
                  [numScroll]="1"
                  [circular]="true"
                  [autoplayInterval]="7000" [responsiveOptions]="responsiveOptions">
        <ng-template let-cardapio pTemplate="item">

          <div class="card cardapioCarousel">
            <div class="card-body text-center">
              <h5 class="card-title">{{cardapio.cardapio}}</h5>
              <ul class="cardapioList mb-2">
                <li *ngFor="let item of cardapio.comidaCardapioList">{{item.comida.comida}}</li>
              </ul>
            </div>
            <div class="text-center mb-2">
              <button *ngIf="cardapio.idDia > dia.getDay()" (click)="agendar(cardapio.idDia)" class="btn btn-success" >Pedir</button>
              <button *ngIf="cardapio.idDia == dia.getDay() && dia.getHours() < 10" (click)="agendar(cardapio.idDia)" class="btn btn-success" >Pedir</button>
              <button *ngIf="cardapio.idDia == dia.getDay() && dia.getHours() > 10" [disabled]="true" class="btn btn-danger disableCursor" title="Oops! Não é mais possivel fazer pedido para esse dia">Pedir</button>
              <button *ngIf="cardapio.idDia < dia.getDay()" [disabled]="true" class="btn btn-danger disableCursor" title="Oops! Não é mais possivel fazer pedido para esse dia">Pedir</button>

            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>
</div>

