<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="col-12">
        <div *ngIf="deHoje" class="doDia">
          <ng-template let-cardapioDia pTemplate="item">
            {{deHoje.cardapio}}
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p-carousel [value]="lista" [numVisible]="3"
                  [numScroll]="1"
                  [circular]="true"
                  [autoplayInterval]="7000">
        <ng-template let-cardapio pTemplate="item">
          <div class="cardapio">
            <div class="cardapio-detalhes">
              <h5 class="text-center">{{cardapio.cardapio}}</h5>
              <ul>
                <li *ngFor="let item of cardapio.comidaCardapioList">{{item.comida.comida}}</li>
              </ul>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>
</div>

