<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <p-card header="Cadastro">
        <div class="container">
          <span class="ui-float-label my-2">
            <input  type="text" id="nome" pInputText size="30" [(ngModel)]="objeto.nome">
            <label for="nome">Nome</label>
          </span>
          <span class="ui-float-label my-2">
            <input matinput mask="000.000.000-00" type="text" id="cpf" pInputText size="30"  [(ngModel)]="objeto.cpf">
            <label for="cpf">CPF</label>
          </span>
          <span class="ui-float-label my-2">
            <input type="text" id="telefone" pInputText size="30" [(ngModel)]="objeto.telefone">
            <label for="telefone">Telefone</label>
          </span>
          <span class="ui-float-label my-2">
            <input type="password" id="senha" pInputText size="30" [(ngModel)]="objeto.senha">
            <label for="senha">Senha</label>
          </span>
          <span class="ui-float-label my-2">
            <input type="text" id="cep" pInputText size="30" [(ngModel)]="objeto.cep">
            <label for="cep">CEP</label>
          </span>
          <span class="ui-float-label my-2">
            <input type="text" id="logradouro" pInputText size="30" [(ngModel)]="objeto.logradouro">
            <label for="logradouro">Logradouro</label>
          </span>
          <span class="ui-float-label my-2">
            <input type="number" id="numero" pInputText size="30" [(ngModel)]="objeto.numero">
            <label for="numero">Numero</label>
          </span>
          <span class="ui-float-label my-2">
            <input type="text" id="bairro" pInputText size="30" [(ngModel)]="objeto.bairro">
            <label for="bairro">Bairro</label>
          </span>
        </div>
        <div class="text-right m-2">
          <button pButton
                  (click)="salvar()"
                  type="button"
                  label="Salvar"
                  class="ui-button-raised"></button>
        </div>
      </p-card>
    </div>
  </div>
</div>
